{% load i18n %}

<h4> m³ <i class="fa fa-arrow-right"></i> mm </h4>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">{% trans "Area" %}</span>
  </div>
  {% verbatim %}
    <input type="number" min='0' ng-model="area" class="form-control" >
  {% endverbatim %}
  <div class="input-group-append">
    <span class="input-group-text">m²</span>
  </div>
</div>
<br>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">{% trans "Irrigation water amount" %}</span>
  </div>
  {% verbatim %}
    <input type="number" min='0' ng-model="irriwaterm3" ng-init="irriwaterm3=30" class="form-control" >
  {% endverbatim %}
  <div class="input-group-append">
    <span class="input-group-text">m³</span>
  </div>
</div>
<br>
<div class="card bg-light">
  <div class="card-body">
    {% verbatim %}
      = {{ irriwaterm3/area * 1000|number:1 }} mm
    {% endverbatim %}
  </div>
</div>
