{% load i18n %}

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">{% trans "Irrigation duration" %}</span>
  </div>
  {% verbatim %}
    <input type="number" ng-model="irrigation_duration" ng-init="irrigation_duration=5" class="form-control" >
  {% endverbatim %}
  <div class="input-group-append">
    <span class="input-group-text">h</span>
  </div>
</div>
<br>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">{% trans "Number of emitters" %}</span>
  </div>
  {% verbatim %}
    <input type="number" ng-model="number_of_emitters" ng-init="number_of_emitters=200" class="form-control" >
  {% endverbatim %}
</div>
<br>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">{% trans "Emitter discharge" %}</span>
  </div>
  {% verbatim %}
    <input type="number" ng-model="emitter_discharge" ng-init="emitter_discharge=4" class="form-control">
  {% endverbatim %}
  <div class="input-group-append">
    <span class="input-group-text"> L/h</span>
  </div>
</div>
<br>
<div class="card bg-light">
  <div class="card-body">
    {% verbatim %}
      = {{ (irrigation_duration*number_of_emitters*emitter_discharge)/1000 | number:1}} m³ / h
    {% endverbatim %}
  </div>
</div>
