Django>=2.2,<3
Jinja2>=2.6,<3
django-bootstrap3>=11,<12
django-registration-redux>=2.6,<3
django-simple-captcha>0.4,<1
django-mathfilters==0.3.0,<2
celery>=4.3,<5
swb>=2,<3
hspatial>=1.3,<2
django-geowidgets<1
