{% load static %}
{% load i18n %}

<script>
  aira.agrifieldsMap.create();
  aira.agrifieldsMap.addCoveredAreaLayer("{% static 'kml/covered_area.kml' %}");
  aira.agrifields = [
    {% for f in agrifields %}
      {
        name: "{{ f.name }}",
        url: "{% url 'update_agrifield' f.id %}",
        coords: [{{ f.location.coords|cut:"("|cut:")" }}],
      },
    {% endfor %}
  ];
  aira.agrifieldsMap.addAgrifields(
    aira.agrifields,
    "{% blocktrans %}Fields of {{ user.username }}{% endblocktrans %}",
  );
</script>
