{% extends 'aira/base/main.html' %}
{% load static %}
{% load i18n %}

{% load bootstrap3 %}

{% block title %} {% blocktrans with username=user.username %}{{ username }} home{% endblocktrans %}{% endblock %}

{% block content %}
  {% if not profile %}
    <div class="alert alert-warning">
      <a href="#" class="close" data-dismiss="alert">&times;</a><i class="fa fa-hand-o-right"></i> &nbsp; <a href="{% url 'create_profile' %}">{% trans "Please update your personal information." %}</a>
    </div>
  {% endif %}

  <div class="panel panel-default">
    <div class="panel-heading"></div>
      <div class="panel-body">
        <div id="map" class="map"></div>
      </div>
  </div>

  {% if profile %}
    {% include "aira/home/profile_info.html" %}
  {% endif %}

  {% if not agrifields %}
    <div class="alert alert-warning">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      <i class="fa fa-exclamation-triangle"></i> &nbsp; <a href={% url 'create_agrifield' url_username %}>{% trans "Add a field." %}</a>
    </div>
  {% else %}
    {% include "aira/home/agrifields_list/main.html" %}
  {% endif %}
{% endblock %}

{% block extrajs %}
  {% include "aira/home/js.html" %}
{% endblock %}
