{% extends 'aira/base/main.html' %}
{% load i18n %}

{% load bootstrap4 %}

{% block title %} {{ user }} {% endblock %}

{% block content %}
  <h3 class="text-center">
      {% blocktrans with applied_irrigation_time=object.timestamp %}
        Are you sure you want to delete the irrigation of {{ applied_irrigation_time }}?
      {% endblocktrans %}
  </h3>
  <br>
  <form method="post" role="form" class="form-horizontal">
    {% csrf_token %}
    {% buttons %}
    <div class="text-center">
      <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
      <br>
    </div>
    {% endbuttons %}
  </form>
{% endblock %}
