{% extends 'aira/base/main.html' %}
{% load i18n %}

{% block title %} {{ agrifield.name }} ({{ agrifield.owner.username }}) {% endblock %}

{% block content %}
  <div class="container">
    <h3>
      <a href="{% url "agrifield-list" user %}" style="color: #333; text-decoration: none">
        <span class="glyphicon glyphicon-menu-left"></span>
      </a>
      {{ agrifield.name }}
      {% if request.user.username != agrifield.owner.username %}
        ({{ agrifield.owner.username }})
      {% endif %}
      — {% trans "Irrigations applied" %}
    </h3>
    <br>
    <div class="row">
      <div class="col-md-5">
        {% include "./add_applied_irrigation_form.html" %}
        {% include "./telemetry_form.html" %}
      </div>
      <div class="col-md-7">
        {% if agrifield.appliedirrigation_set.exists %}
          {% include "./table_of_logs.html" %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block extrajs %}
  <script type="text/javascript">
    aira.setupDateTimePickerForAppliedIrrigation();
    aira.showAndHideIrrigationFieldsAccordingToType();
  </script>

  <script type="text/javascript">
    // TODO: Move into proper JS file
    window.addEventListener("load", function(){
      function onFlowmeterTypeChange() {
        const dropdownOptions = document.querySelector('#flowmeter_type-dropdown').options;
        for(let i = 0; i < dropdownOptions.length; ++i) {
          const option = dropdownOptions[i];
          if (option.value === "") {
            continue;
          }
          const parametersBlock = document.querySelector(`#flowmeter-parameters-${option.value}`);
          parametersBlock.style.display = option.selected ? "block" : "none";
        }
      }

      document
        .getElementById('flowmeter_type-dropdown')
        .addEventListener('change', onFlowmeterTypeChange);
      onFlowmeterTypeChange();
    }, false);
  </script>
{% endblock %}
