{% load i18n %}

<div class="card">
  <div class="card-header">
    {% trans "List of irrigations" %}
  </div>
  <div class="card-body table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Applied water" %} (m³)</th>
          <th>{% trans "Auto" %}<a href="#auto-explain">*</a></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for applied_irrigation in agrifield.appliedirrigation_set.all  %}
          <tr>
            <td><a id="link-update-applied-irrigation-{{ applied_irrigation.id }}" href="{% url 'applied-irrigation-update' agrifield.owner.username agrifield.id applied_irrigation.id %}">{{applied_irrigation.timestamp}}</a></td>
            <td align="center">{{applied_irrigation.volume|floatformat:"2"}}</td>
            <td align="center"> {{ applied_irrigation.is_automatically_reported|yesno:"✔,✘" }} </td>
            {% if user.username != "demo" %}
              <td><a id="link-delete-applied-irrigation-{{ applied_irrigation.id }}" href="{% url 'applied-irrigation-delete' agrifield.owner.username agrifield.id applied_irrigation.id %}">{% trans "Delete" %} </a></td>
            {% else %}
              <td></td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a id="auto-explain"></a>
    <p class="text-muted">* {% trans "Indicates whether it has been registered automatically by a telemetric flowmeter" %}</p>
  </div>
</div>
