{% load i18n %}

<div class="table-responsive">
  <table class="table">
    <h4> {% trans "List of irrigations" %}, <a href="{% url 'agrifield-update' request.user.username agrifield.id %}">{{ agrifield.name }}</a></h4>
    <hr>
    <thead>
      <tr>
        <th></th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Applied water" %} (m³)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for applied_irrigation in agrifield.appliedirrigation_set.all  %}
        <tr>
          <td>{{ applied_irrigation.id }}</td>
          <td><a href="{% url 'applied-irrigation-update' request.user.username agrifield.id applied_irrigation.id %}">{{applied_irrigation.timestamp}}</a></td>
          <td align="center">{{applied_irrigation.volume|floatformat:"2"}}</td>
          {% if user.username != "demo" %}
            <td><a href="{% url 'applied-irrigation-delete' request.user.username agrifield.id applied_irrigation.id %}">{% trans "Delete" %} </a></td>
          {% else %}
            <td -</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
