{% extends 'aira/base/main.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% load bootstrap3 %}
{% block title %} {{ object.name}} {% endblock %}

{% block content  %}
  <h4 style="text-align: center;">{% trans 'Irrigation performance' %}</h4>
  {% if object.status != 'done' %}
    <p class="alert alert-warning">{% trans "This field is being (re)calculated. Reload the page some time later to view the updated results. The calculation usually takes from a few seconds to a few minutes." %}</p>
  {% endif %}
  <div id="irrchart" style="width:100%; height:400px;"></div>
  <div class="container">
    {% if object.results %}
      <a style="float:right"  href="{% url 'performance_csv' object.id %}"> <i class="fa fa-cloud-download"></i> {% trans "Download chart data" %}</a><br>
      <b>{% trans "Total effective precipitation" %}</b>: {{ object.results.timeseries.effective_precipitation.sum|floatformat:0 }} mm <br>
      <hr>
      <b>{% trans 'Total estimated irrigation water amount' %}</b>: {{ object.results.timeseries.ifinal_theoretical.sum|floatformat:0  }} mm <br>
      <b>{% trans "Total applied irrigation water amount" %}</b>: {{ sum_applied_irrigation|floatformat:0 }} mm <br>
      <b>{% trans "Percentage difference"%}</b>: {{ percentage_diff }} % <br>
    {% endif %}
  </div>
  <br><br><br><br><br><br><br>
{% endblock %}

{% block extrajs %}
  <script src="//code.highcharts.com/highcharts.js" type="text/javascript"></script>
  <script src="//code.highcharts.com/modules/exporting.js" type="text/javascript"></script>
  <script type="text/javascript">
    Highcharts.chart('irrchart', {
      chart: {type: 'column'},
      credits: {enabled: false},
      title: {text: "{{ object.name }}"},
      subtitle: {text: "{{ object.crop_type }} - {{ object.irrigation_type }}"},
      xAxis: {
        categories: [
          {% for date, data in object.results.timeseries.iterrows %}
            "{{ date | date }}" {% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
        type: 'datetime',
        dateTimeLabelFormats: {day: '%d-%m-%Y'},
        crosshair: true
      },
      yAxis: {
        min: 0,
        tickInterval: 5,
        title: {text: " "},
        labels: {format: '{value} mm'}
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      plotOptions: {column: {pointPadding: 0.2, borderWidth: 5}},
      series: [{
        "name": "{% trans 'Estimated irrigation water amount' %}",
        "color": '#008000',
        "data": [
          {% localize off %}
            {% for date, row in object.results.timeseries.iterrows %}
              {{ row.ifinal_theoretical }} {% if not forloop.last %},{% endif %}
            {% endfor %}
          {% endlocalize %}
        ]
      }, {
        "name": "{% trans 'Applied irrigation water amount' %}",
        "data": [
          {% localize off %}
            {% for date, row in object.results.timeseries.iterrows %}
              {{ row.applied_irrigation|default:0 }} {% if not forloop.last %},{% endif %}
            {% endfor %}
          {% endlocalize %}
        ]
      },
      {
        "name": "{% trans 'Effective precipitation' %}",
        "color": '#4c4ca6',
        "data": [
          {% localize off %}
            {% for date, row in object.results.timeseries.iterrows %}
              {{ row.effective_precipitation }} {% if not forloop.last %},{% endif %}
            {% endfor %}
          {% endlocalize %}
        ]
      }]
    });
  </script>
{% endblock %}
