{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans "Irrigation status" %}</title>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <style media="screen">
      {% include "aira/email_notification/email_notification.css" %}
    </style>
</head>

<body>
  <section>
    {{ header|safe }}
    <br><br>
    {{ timestamp }}<br>
    <h1>{% trans "Irrigation status" %}</h1>
    <p><a href="http://{{ site.domain }}/accounts/login/">{% trans "Home" %}</a></p>
  </section>

  <section>
    <p>{% trans "Field owner" %}: <a href="http://{{ site.domain }}/{{ owner }}/fields/">{{ owner }}</a> <br></p>
    <hr>
    <h2>{% trans "Irrigation requirements" %}</h2>
    {% for f in agrifields  %}
      <ul class="irrigations">
        <li class="{% if f.needs_irrigation %} in {% elif not f.needs_irrigation is None %} out {% endif %}">
          <ul class="irrigate">
            {% if f.needs_irrigation is None %}
              {% blocktrans with name=f.name %}
                The field <strong>{{ name }}</strong> is either outside the covered area or not calculated yet.
              {% endblocktrans %}
            {% elif f.needs_irrigation %}
              <li class="empty">
                <p>
                  {% blocktrans with name=f.name %}
                    The field <strong>{{ name }}</strong> needs irrigation.
                  {% endblocktrans %}
                </p>
                {% include "aira/agrifield_list/agrifield/results_recommendation.html" %}
              </li>
            {% else %}
              <li class="full">
                {% blocktrans with name=f.name %}
                  The field <strong>{{ name }}</strong> does not need to be irrigated.
                {% endblocktrans %}
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    {% endfor %}
  </section>

  <footer class="grid-100">
    {{ footer|safe }}
  </footer>
</body>
</html>
