{% extends 'aira/base/main.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}


{% block title %} {% trans "Irrigation recommendations system" %}{% endblock %}


{% block main_page %}
  <div class="card">
    <div class="card-header">
      {% include "aira/frontpage/map_heading.html" %}
    </div>
    <div class="card-body">
      {% include "aira/frontpage/map_main.html" %}
    </div>
    <div class="card-footer">
      {% block map_footer %}
      {% endblock %}
    </div>
  </div>
{% endblock %}


{% block extrajs %}
  <script type="text/javascript">
    aira.start_date = '{{ start_date|date:"Y-m-d" }}';
    aira.end_date = '{{ end_date|date:"Y-m-d" }}';
    aira.timestepMessages = {
      switchToDaily: '{% trans "Switch to daily" %}',
      switchToMonthly: '{% trans "Switch to monthly" %}',
    }
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      aira.meteoMapPanel.initialize();
      aira.map.addCoveredAreaLayer("{% static 'kml/covered_area.kml' %}");
    });
  </script>
{% endblock %}
