{% load i18n %}
{% load bootstrap3 %}

<div class='form-group' style="display:{% if object.use_custom_parameters %}block{% else %}none{% endif %}" id="custom_par">
  <fieldset class="well well-sm">
    <legend>{% trans "Irrigation management" %}</legend>
    {% bootstrap_field form.custom_efficiency placeholder="0.05 – 1.00" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected irrigation type" %}: <span id="default-irrigation-efficiency">{{ object.irrigation_type.efficiency }}</span></div>
    {% bootstrap_field form.custom_irrigation_optimizer placeholder="0.10 – 1.00" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value" %}: <span id="default-irrigation-optimizer">0.5</span></div>
  </fieldset>
  <fieldset class="well well-sm">
    <legend>{% trans "Crop" %}</legend>
    {% bootstrap_field form.custom_max_allowed_depletion placeholder="0.00 – 0.99" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected crop type" %}: <span id="default-max_allowed_depletion">{{ object.crop_type.max_allowed_depletion|floatformat:2 }}</span></div>
    {% bootstrap_field form.custom_root_depth_max placeholder="0.2 – 4.0 m" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected crop type" %}: <span id="default-root_depth_max">{{ object.crop_type.root_depth_max }}</span></div>
    {% bootstrap_field form.custom_root_depth_min placeholder="0.1 – 2.0 m" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected crop type" %}: <span id="default-root_depth_min">{{ object.crop_type.root_depth_min }}</span></div>
    {% bootstrap_field form.custom_planting_date placeholder="day/month" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected crop type" %}: <span id="default-planting_date">{{ object.crop_type.planting_date|date:"j M" }}</span></div>
    {% bootstrap_field form.custom_kc_initial placeholder="0.3 - 1.25" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected crop type" %}: <span id="default-kc_initial">{{ object.crop_type.kc_initial }}</span></div>
    {% bootstrap_field form.custom_kc_offseason placeholder="0.3 - 1.25" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected crop type" %}: <span id="default-kc_offseason">{{ object.crop_type.kc_offseason }}</span></div>
    {% bootstrap_field form.kc_stages placeholder="" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected crop type" %}: {% if object.crop_type.kc_stages_str %}<div id="default-kc_stages">{{ object.crop_type.kc_stages_str|linebreaks }}</div>{% else %}<span id="default-kc_stages">{% trans "Unspecified" context "default Kc stages" %}</span>{% endif %}
  </fieldset>
  <fieldset class="well well-sm">
    <legend>{% trans "Soil" %}</legend>
    {% bootstrap_field form.custom_field_capacity placeholder="0.10 – 0.45" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected location" %}: <span id="default-field-capacity">{{ object.default_field_capacity|floatformat:2  }}</span></div>
    {% bootstrap_field form.custom_wilting_point placeholder="0.00 – 0.22" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected location" %}: <span id="default-wilting-point">{{ object.default_wilting_point|floatformat:2  }}</span></div>
    {% bootstrap_field form.custom_thetaS placeholder="0.30 – 0.55" %}
    <div class="help-block" style="margin-top: -10px">{% trans "Default value for selected location" %}: <span id="default-theta_s">{{ object.default_theta_s|floatformat:2 }}</span></div>
  </fieldset>
</div>
