{% extends 'aira/base/main.html' %}
{% load i18n %}
{% load static %}


{% block title %}
  {% include "aira/agrifield_edit/title.html" %}
{% endblock %}


{% block extrahead %}
  {{ form.media }}
{% endblock %}


{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>{% include "aira/agrifield_edit/title.html" %}</h4>
    </div>
    <div class="panel panel-body">
      {% include "aira/agrifield_edit/map.html" %}
      {% include "aira/agrifield_edit/form.html" %}
    </div>
  </div>
{% endblock %}


{% block extrajs %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.20.0/apexcharts.min.js"></script>
  <script type="text/javascript">
    aira.defaultBaseLayer = "Google Satellite";
    aira.agrifieldEditMap.create();
    aira.agrifieldEditMap.addCoveredAreaLayer("{% static 'kml/covered_area.kml' %}");
    {% if object %}
      aira.agrifields = [
        {
          name: "{{ object.name }}",
          url: "#",
          coords: [{{ object.location.coords|cut:"("|cut:")" }}],
        }
      ];
      aira.agrifieldEditMap.addAgrifields(aira.agrifields, "{{ object.name }}");
    {% else %}
      aira.agrifieldEditMap.addAgrifields(map, [], "Add new field");
    {% endif %}
    aira.agrifieldEditMap.registerClickEvent();
    aira.agrifieldEditDocumentReady();
    aira.kcCharter.initialize();
  </script>
{% endblock %}
