{% extends 'aira/base/main.html' %}
{% load i18n %}
{% load static %}


{% block title %}{% include "aira/agrifield_edit/title.html" %}{% endblock %}


{% block extrahead %}
  {{ form.media }}
{% endblock %}


{% block content %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{% include "aira/agrifield_edit/title.html" %}</h4>
      <div id="map" class="map"></div>
      <p class="text-center text-muted">{% trans "Click on map to specify field location" %}</p>
      {% include "aira/agrifield_edit/form.html" %}
    </div>
  </div>
{% endblock %}


{% block extrajs %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.20.0/apexcharts.min.js"></script>
  <script type="text/javascript">
    aira.defaultBaseLayer = "Google Satellite";
    aira.agrifieldEditMap.create();
    aira.agrifieldEditMap.addCoveredAreaLayer("{% static 'kml/covered_area.kml' %}");
    {% if object %}
      aira.agrifields = [
        {
          name: "{{ object.name }}",
          url: "#",
          coords: [{{ object.location.coords|cut:"("|cut:")" }}],
        }
      ];
      aira.agrifieldEditMap.addAgrifields(aira.agrifields, "{{ object.name }}");
    {% else %}
      aira.agrifieldEditMap.addAgrifields([], "Add new field");
    {% endif %}
    aira.agrifieldEditMap.registerClickEvent();
    aira.agrifieldEditDocumentReady();
    aira.kcCharter.initialize();
  </script>
{% endblock %}
